.app_wrapper {
	position: absolute;
	top: 0;
	left: 0px;
	right: -5%;
	bottom: 0;
	overflow-y: scroll;
}

.app {
	text-align: left;
	font-size: 2vw;
	white-space: pre-wrap;
	background-color: #121212;
	position: absolute;
	padding-top: 10%;
	padding-left: 10%;
	padding-right: 15%;
	padding-bottom: 10%;
}

.context {
	color: #eee;
	display: inline;
}

.input {
	color: #00ff80;
	display: inline;
	font-weight: bold;
}

.hint {
	color: #2E9598;
	display: inline;
}

.input_wrong {
	color: #ff0080;
	display: inline;
}

.input_right {
	color: #F7DB69;
	display: inline;
	font-weight: bold;
}