.App {
	text-align: left;
	font-size: 2vw;
	background-color: #121212;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.context {
	color: #eee;
	display: inline;
}

.input {
	color: #00ff80;
	display: inline;
}

.hint {
	color: #2E9598;
	display: inline;
}

.input_wrong {
	color: #ff0080;
	display: inline;
}

.input_right {
	color: #F7DB69;
	display: inline;
}